/* LandingPage.css */
body {
  font-family: "Noto Kufi Arabic", sans-serif;
}

/* Navbar Styles */
.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand img {
  width: 150px; /* Adjust logo size */
}

.nav-link {
  margin-right: 20px;
  font-size: 1.2em;
  color: #333; /* Dark text color */
}

.nav-link:hover {
  text-decoration: underline; /* Underline on hover */
}

/* Section Styles */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height */
  padding: 20px; /* Padding for sections */
}

.header-content {
  text-align: center;
}

.frameimg {
  width: 100%;
  max-width: 300px; /* Adjust image size */
  height: auto; /* Maintain aspect ratio */
}

/* Features Sections */
.features {
  background: linear-gradient(90deg, #13799e 16%, #000d47); /* Blue gradient */
  color: white; /* White text */
}

.feature-image {
  width: 100%; /* Make the image responsive */
  max-width: 300px; /* Set a max-width */
  height: auto; /* Maintain aspect ratio */
}

/* Warranty Section */
.warranty-section {
  background: linear-gradient(to bottom, #2d2d2d, #202a22); /* Green gradient */
  color: white;
  padding: 40px;
}

/* Contact Section */
.contact-section {
  background: linear-gradient(to bottom, #dc3545, #c82333); /* Red gradient */
  color: white;
  padding: 40px;
}

/* List styles */
ul {
  padding-left: 0;
  list-style-type: none; /* Remove default bullets */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column; /* Stack navbar items on smaller screens */
  }

  .feature-image {
    width: 100%; /* Make images full width on small screens */
  }

  .section {
    height: auto; /* Allow sections to grow with content */
  }
}
